<html>
    <head>
      {% if title %}
      <title>{{ title }} - iRODS Management Client</title>
      {% else %}
      <title>Welcome to iRODS Management Client</title>
      {% endif %}
    </head>
    <body>
        <div>
           iRODS Management Client:
           <a href="{{ url_for('index') }}">Home</a>
           <a href="{{ url_for('login') }}">Login</a>
	   <a href="{{ url_for('newCollection') }}">New Collection</a>
	   <a href="{{ url_for('modifyCollection') }}">Modify Colleciton</a>
	   <a href="{{ url_for('search') }}">Search</a>
        </div>	
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
