{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.hostName.label }}<br>
            {{ form.hostName(size=32) }}<br>
	    {% for error in form.hostName.errors %}
   	    <span style="color: red;">[{{ error }}]</span>
	    {% endfor %}
        </p>
        <p>
            {{ form.portNumber.label }}<br>
            {{ form.portNumber(size=32) }}<br>
            {% for error in form.portNumber.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.userName.label }}<br>
            {{ form.userName(size=32) }}<br>
            {% for error in form.userName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.irodsZone.label }}<br>
            {{ form.irodsZone(size=32) }}<br>
            {% for error in form.irodsZone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
