{% extends "base.html" %}

{% block content %}
    <h1>Modify Collection</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.modifyCollectionName.label }}<br>
            {{ form.modifyCollectionName(size=32) }}<br>

            {{ form.Attribute.label }}
            {{ form.Attribute(size=32) }}<br>
            {{ form.Value.label }}
	    {{ form.Value(size=32) }}
        </p>
	<p><input type=file name=file>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
